.Matrix {
    --form-control-color: currentColor;
    --form-control-disabled: lightgrey;
    --form-control-patchbay: blue;
    --form-control-conflicting: red;

    table {
        font-size: .8em;
        border-collapse: collapse;
    }

    th, td {
        padding: .1em .25em;
        text-align: center;
        vertical-align: center;
    }

    td {
        border: 1px solid lightgrey;
        padding: .5em;
    }

    th {
        background-color: white;
        color: darkgrey;
        font-weight: normal;
        position: sticky;
        left: 0;
        white-space: nowrap;
        text-align: right;
        z-index: 9;
    }

    th .linked {
        color: black;
        font-weight: bold;
    }

    th.hovered,
    th.hovered .linked {
        color: blue;
    }

    th abbr {
        position: relative;
        color: gray;
        font-size: .5em;
        font-weight: normal;
        vertical-align: super;
        cursor: help;
    }

    thead tr {
        background-color: white;
        position: sticky;
        top: 0;
        z-index: 10;
        box-shadow: 0 1px 0px lightgrey;
    }

    thead th {
        background-color: transparent;
        position: relative;
        left: auto;
        height: 10em;
        text-align: left;
        border-bottom: 1px solid lightgrey;
        border-right: 0;
        overflow: visible;
    }

    thead th > * {
        position: absolute;
        bottom: 0;
        left: 0;
        transform-origin: bottom left;
        transform: translate(2.25em, 0em) rotate(-45deg);
        border-bottom: 1px solid lightgrey;
        min-width: 15em;
    }

    thead tr th:first-of-type {
        background-color: none;
    }

    tr:nth-child(even) td {
        background-color: rgba(0,0,0,0.05);
    }

    input[type="checkbox"] {
        /* Add if not using autoprefixer */
        -webkit-appearance: none;
        /* Remove most all native input styles */
        appearance: none;
        /* For iOS < 15 */
        background-color: var(--form-background);
        /* Not removed via appearance */
        margin: 0;
        font: inherit;
        color: currentColor;
        width: 1.15em;
        height: 1.15em;
        border: 0.15em solid currentColor;
        border-radius: 0.15em;
        transition: all 250ms ease-in-out;
        text-align: center;
        cursor: pointer;
    }

    input[type="checkbox"]:checked {
        background-color: currentColor;
    }

    input[type="checkbox"].patchbay:checked {
        background-color: var(--form-control-patchbay);
    }
    
    input[type="checkbox"]:focus {
        outline: max(2px, 0.15em) solid currentColor;
        outline-offset: max(2px, 0.15em);
    }
    
    input[type="checkbox"]:disabled {
        --form-control-color: var(--form-control-disabled);
    
        color: var(--form-control-disabled);
        cursor: not-allowed;
    }
    
    input[type="checkbox"].conflicting {
        --form-control-color: var(--form-control-conflicting);
        border-color: var(--form-control-conflicting);
    }

    input[type="checkbox"].conflicting:checked {
        background-color: var(--form-control-conflicting);
    }
    
    input[type="checkbox"].patchbay {
        --form-control-color: var(--form-control-patchbay);
        border-color: var(--form-control-patchbay);
    }

    input[type="checkbox"].balancedIncompatible:checked {
        position: relative;
    }

    input[type="checkbox"].balancedIncompatible:checked::after {
        content: "!";
        color: white;
        font-weight: bold;
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
    }

    input[type="checkbox"].balancedIncompatible {
        border-style: dashed;
    }

    fieldset {
        max-width: 70em;
        margin: 2em 0;
        font-size: .8em;

        .checkboxes {
            display: flex;
            flex-wrap: wrap;
        }

        label {
            flex-basis: 25%;

            input {
                position: relative;
                top: .2em;
            }
        }

        p {
            font-size: .8em;
            font-style: italic;
        }
    }
    
}


