:root {
    --link-color: blue;
    --button-color: rgb(236, 236, 236);
}

.App {
    padding: 3em;
}

button,
input[type="submit"] {
    background-color: var(--button-color);
    border: .25px solid black;
    border-radius: .25em;
    margin-right: 1em;
    padding: .25em 1em;
    cursor: pointer;
}

.btn-link {
    background: none;
    border: 0;
    margin: 0;
    padding: 0;
    color: var(--link-color);
    cursor: pointer;
}

.btn-link:hover {
    text-decoration: underline;
}